@page "{num?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h4">@Model.Message</p>
    <form asp-page="Index">
        <div class="form-group">
            @Html.DisplayName("Name")
            @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Password)
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.DisplayName("Mail")
            @Html.TextBox("Mail", @Model.Mail, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.DisplayName("Tel")
            @Html.TextBoxFor(model => model.Tel, new { @class = "form-controdl" })
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
<div>
    <h2 class="display-4 mb-4">Welcome</h2>
    <ul>
        @{
            int totalp = 0;
            int totaln = 0;
        }
        @for (int i = 2; i <= 20; i++)
        {
            bool flg = true;
            @for (int j = 2; j <= i / 2; j++)
            {
                @if (i % j == 0)
                {
                    flg = false;
                }
            }
            @if (flg)
            {
                totalp += i;
                <li>@i は素数です。(total:@totalp)</li>
            }
            else
            {
                totaln += i;
                <li>@i は素数でない。[total:@totaln]</li>
            }
        }
    </ul>
</div>
<div>
    <h2 class="display-4 mb-4">Welcome</h2>
    <p class="h4">@(Model.Num)は、<b>@(Model.Num % 2 == 0 ? "偶数" : "奇数")</b>です。</b></p>
</div>

