@page
@model SampleRazorApp.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Messages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Person)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    <ul>
                        @if (item.Messages.Count > 0)
                        {
                            @foreach (var msg in item.Messages)
                            {
                                <li>@msg.Comment</li>
                            }



                        }
                        else
                        {
                            <li>no-message.</li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PersonId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PersonId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PersonId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
