@page
@model SampleRazorApp.Pages.Messages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Message)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MessageId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MessageId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MessageId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
